
.destinations {
  width: 80%;
  height: fit-content;
  padding: 2rem;
  margin: 1.5rem auto;
  text-align: center;
}

.destinations h2 {
  font-family: var(--section-heading-fonts);
  font-weight: bold;
  color: var(--color-primary);
}

.destinations span {
  font-family: cursive;
  color: var(--color-secondary-faint);
}

/* Mobile */
@media (min-width: 320px) and (max-width: 599px) {
  .destinations {
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 1.5rem;
  }

  .destinations h2 {
    font-size: 3rem;
  }

  .destinations span {
    font-size: 1.2rem;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .destinations h2 {
    font-size: 3.5rem;
  }

  .destinations span {
    font-size: 1.3rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .destinations h2 {
    font-size: 4rem;
  }

  .destinations span {
    font-size: 1.3rem;
  }
}


/* Image Card */
.imageCard {
  width: 85%;
  margin: 0 auto;
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: auto;
}


/* Mobile */
@media (min-width: 320px) and (max-width: 599px) {
  .imageCard {
    width: 100%;
    height: 40rem;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .imageCard {
    height: 30rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {}

