/* NAVBAR STYLES */
.navbar {
  width: 100vw;
  height: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: var(--general-font-family);
  transition: background-color .5s ease;
}

.opaque {
  background-color: rgba(245, 245, 245, 0.7);
}

.sticky {
  position: fixed;
  top: 0;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarBrand {
  font-family: var(--logo-font-family);
  font-weight: bolder;
  font-size: 2.4rem;
  color: var(--color-primary);
}

.navbarList {
  list-style: none;
  flex: 1;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.4rem;
}

.navbarList li {
  position: relative;
  padding: 0 0 .5rem;
}

.navbarList li::after {
  content: '';
  display: block;
  width: 0;
  height: .2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transition: width 1s ease-in-out;
}

.navbarList li:hover::after {
  width: 100%;
}

.navbarList a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary);
}


/* Mobile */
@media (min-width: 320px) and (max-width: 599px) {
  .navbarBrand {
      flex: 3;
      padding-left: 10%;
  }

  .navbarList {
    display: none;
  }

  .buttonContainer {
    display: none;
  }

  .openMenu {
    flex: 1;
    justify-content: center;
    font-size: 2rem;
    color: var(--color-secondary);
  }

}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {

  .navbarBrand {
    flex: 1;
    padding-left: 6%;
  }

  .buttonContainer {
    flex: 1;
    justify-content: center;
  }

  .buttonContainer .button {
    width: 30%;
  }

  .openMenu {
    display: none;
  }
}

/* Desktop */
@media (min-width: 1024px) {

  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbarBrand {
    flex: 2;
    padding-left: 6%;
    /* font-size: 2.4rem; */
  }

  .buttonContainer {
    flex: 1;
    justify-content: center;
  }

  .buttonContainer .button {
    width: 25%;
  }

  .openMenu {
    display: none;
  }
}

/* DROPDOWN STYLES -- Only applied on mobile screens hence no breakpoints.*/

.dropdown {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 30%;
  font-family: var(--general-font-family);
  background-color: var(--color-soft-white);
  border: .1rem solid var(--color-secondary);
  border-bottom-right-radius: 6rem;
}

.dropdownList {
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.dropdownList li {
  display: block;
  margin: .7rem;
}

.dropdownList a {
  text-decoration: none;
  color: var(--color-secondary);
}

.dropdownButtons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdownButtons .button {
  width: 40%;
}

.closeMenu {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-secondary);
}