/* SPECIAL OFFERS */
.offers {
  width: 80%;
  height: inherit;
  padding: 2rem;
  margin: 1.5rem auto;
  text-align: center;
}

.offers h2 {
  font-family: var(--section-heading-fonts);
  font-weight: bold;
  color: var(--color-primary);
}

.offers .tagline {
  font-family: cursive;
  color: var(--color-secondary-faint);
}

/* Mobile */
@media (min-width: 320px) and (max-width: 599px) {
  .offers {
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 1.5rem;
  }

  .offers h2 {
    font-size: 3rem;
  }

  .offers span {
    font-size: 1.2rem;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .offers h2 {
    font-size: 3.5rem;
  }

  .offers span {
    font-size: 1.3rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .offers h2 {
    font-size: 4rem;
  }

  .offers span {
    font-size: 1.3rem;
  }
}


/* OFFER CARD */

.offerCard {
  margin: 2rem auto 0;
  border-radius: 3rem;
  height: 30rem;
  padding: 0 .5rem;
  border: 0;
  background-color: var(--color-soft-white);
}

.offerCard img {
  border-radius: 3rem;
  height: 80%;
}

.offerCard .section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.offerCard .highlight {
  font-family: var(--general-font-family);
  color: var(--color-text);
  font-weight: bold;
}

.offerCard .small {
  font-size: 1rem;
}